.bg-morado{
    background-color:#531CB3;
}
.txt-morado{
    color:#531CB3;
}

.bg-rosado{
    background-color:#944BBB;
}
.txt-rosado{
    color:#944BBB;
}

.bg-rosado-claro{
    background-color:#AA7BC3;
}
.txt-rosado-claro{
    color:#AA7BC3;
}

.bg-rosado-clarin{
    background-color:#CC92C2;
}
.txt-rosado-clarin{
    color:#CC92C2;
}

.bg-piel{
    background-color:#DBA8AC;
}
.txt-piel{
    color:#DBA8AC;
}