<form id="Form1" class="was-validated ">
    <!-- codigo form -->
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputCodigo">Codigo</label>
            <input type="text"  class="form-control is-invalid" id="EscribirCodigo" placeholder="12353ejemplo" name="EscribirCodigo" required>
            <small id="helpblock" class="form-text text-muted">
                Escribir codigo medicamento
            </small>
            <div id="error1" class="invalid-feedback bg-piel bordes2 negro">
            </div>
        </div>
        
    </div>
    <!-- codigo form -->

    <!-- Nombre form -->
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputNombre">Nombre medicamento</label>
            <input type="text"  class="form-control is-invalid" id="EscribirNombre" placeholder="ejemplo1" name="EscribirNombre" required> 
            <small id="helpblock" class="form-text text-muted">
                escribir Nombre de medicamento
            </small>
            <div id="error2" class="invalid-feedback bg-piel bordes2 negro" role="alert">
            </div>
        </div>
    </div>
    <!-- Nombre form -->

    <!-- descripción form -->
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputDescr">Descripción</label>
            <input type="text"  class="form-control is-invalid" id="EscribirDesc" placeholder="12353ejemplo" name="EscribirDesc" required>
            <small id="helpblock" class="form-text text-muted">
                Escribir codigo descripción
            </small>
            <div id="error3" class="invalid-feedback bg-piel bordes2 negro" role="alert">
            </div>
        </div>
    </div>
    <!-- descripción form -->

    <!-- Fabricante form -->
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputFabricante">Fabricante</label>
            <input type="text"  class="form-control is-invalid" id="EscribirFabricante" placeholder="laboratoriosxd" name="EscribirFabricante" required>
            <small id="helpblock" class="form-text text-muted">
                escribir fabricante de medicamento
            </small>
            <div id="error4" class="invalid-feedback bg-piel bordes2 negro" role="alert">
            </div>
        </div>
    </div>
    <!-- Fabricante form -->

    <!-- Contenido form -->
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputContenido">Contenido</label>
            <input type="text"  class="form-control is-invalid" id="EscribirContenido" placeholder="lipidos,etc" name="EscribirContenido" required>
            <small id="helpblock" class="form-text text-muted">
                escribir Contenido de medicamento
            </small>
            <div id="error5" class="invalid-feedback bg-piel bordes2 negro" role="alert">
            </div>
        </div>
    </div>
    <!-- Contenido form -->

    <!-- Cantidad form -->
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputCantidad">Cantidad</label>
            <input type="number"  class="form-control is-invalid" id="EscribirCantidad" placeholder="1" name="EscribirCantidad" required>
            <small id="helpblock" class="form-text text-muted">
                escribir Cantidad de medicamento
            </small>
            <div id="error6" class="invalid-feedback bg-piel bordes2 negro" role="alert">
            </div>
        </div>
    </div>
    <!-- Cantidad form -->

    <!-- Gramaje form -->
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputGramaje">Gramaje</label>
            <input type="number"  class="form-control is-invalid" id="EscribirGramaje" placeholder="354" name="EscribirGramaje" required>
            <small id="helpblock" class="form-text text-muted">
                escribir Gramaje de medicamento
            </small>
            <div id="error7" class="invalid-feedback bg-piel bordes2 negro" role="alert">
            </div>
        </div>
    </div>
    <!-- Gramaje form -->
    <button type="submit" class="btn btn-warning btn-center" >Registrar medicamento</button>
    <br>
</form>
<br>